.env
# Python
# Python
*.pyc
__pycache__/
*.sqlite3
venv/

# Django
backend/staticfiles/*
!backend/staticfiles/.gitkeep

# React
frontend/build/
frontend/node_modules/

# Static files
backend/static/*
!backend/static/.gitkeep

staticfiles/*
!staticfiles/.gitkeep

history/
.history/
.history

*.loghistory/
